.App {
  text-align: center;
  max-width: 1080px;
  height: 100vh;
  margin: auto;
  padding-top: 1em;
  /* background-image: linear-gradient(to bottom right, #fff, #FEB054); */
  background: linear-gradient(300deg, #feb054 0%, #f9eadd 100%);
  /* background: linear-gradient(296deg, #2b2f77 0%, #060f37 100%); */
  /* background: linear-gradient(301deg, #121e45 0%, #5069c0 100%); */
  overflow-y: scroll;
}

.tab-titles {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
}

.hourly-title {
  margin-left: 5px;
  font-weight: bold;
}

.daily-button {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  border: none;
  background: none;
  font-size: 1rem;
  color: #CE7E00;
}


.button-icon {
  font-size: 1.2rem;
}

.alert {
  text-align: center;
  font-size: 2rem;
  color: #313341;
  margin-top: 5rem;
}



